table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

th {
    background-color: #555;
    color: #fff;
}

table tr:nth-child(odd) {
    background-color: #bbf;
}

table tr:nth-child(even) {
    background-color: #99f;
}
